config
logs
mysql
mysql_conf
nginx_conf
php_conf
.idea

/www/.env.local
/www/.env.local.php
/www/.env.*.local

###> friendsofphp/php-cs-fixer ###
/www/php-cs-fixer.php
/www/php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###