{% for message in app.flashes('success') %}
    <div style="color: green; border: 2px green solid; text-align: center; padding: 5px;margin-bottom: 10px;">
        {{ message }}
    </div>
{% endfor %}